.bookContainerStyle {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.bookContainerStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
